html,
body {
    height: 100%;
    width: 100%;
}

.todo {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 400px auto;
    grid-gap: 10px;
    grid-auto-rows: minmax(auto);
}

.tabla {
    width: 100%;
    height: 100%;
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
    padding: 5px;
}

.tabla th {
    border: 1px solid #C0C0C0;
    padding: 5px;
    background: #F0F0F0;
    font-size: 16px;
}

.tabla td {
    border: 1px solid #C0C0C0;
    padding: 5px;
    font-size: 14px;
}

.tablaProcesos {
    width: 100%;
    grid-column: 1;
}

.tablaResultados {
    width: 100%;
    grid-column: 2;
}

.grafico {
    margin: 40px 0px 0px 0px;
    grid-column: 1 / 3;
    grid-row: 2;
    width: 100%;
    height: auto;
}

.contenedorGrafico {
    display: grid;
    grid-auto-rows: 25px;
    gap: 5px;
}

.contenedorGrafico .proceso {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 10px;
    grid-auto-columns: 20px;
}

.espera {
    border: 2px solid #000000;
    background-color: gray;
}

.ejecucion {
    border: 2px solid #000000;
    background-color: green;
    max-width: 50px;
    min-width: 25px;
}
.vacio {
    border: 2px solid #cbc7c7;
    max-width: 50px;
    min-width: 25px;
}

.final {
    border-right: 2px solid #000000;
    background-color: green;
}